<footer id="footer" class="bg-dark text-light">
    <div class="px-3 py-2 container d-flex justify-content-between">
        &copy; Minterger
        <a class="btn btn-dark btn-sm" href="#">Ir Arriba <i class='bx bxs-arrow-to-top'></i></a>
    </div>
</footer>